/* navbar*/
.navbar-default {
  width: 100%;
  position: fixed-top;
  background-color: #F5F0E7;
  padding-right: 20px !important;
  padding-left:20px !important;
  border-bottom: 1px solid #E6E5E5;
}


.navbar-brand {
    margin-left: 0px !important;
    padding-left: 30px !important;
    padding-right: 20px !important;
    color: #748F80 !important;
}

.navbar-nav > li > a {
  color: #748F80 !important;
}

.navbar-nav:hover,
.navbar-nav:focus  > li > a {
  color: #F57474 !important;
}

.btn-default {
    color: #fff !important;
    background-color: #F57474 !important;
    border-color: #F57474 !important;
    padding-left: 30px;
    padding-right: 30px;

}

.btn-default:hover,
.btn-default:focus {
  color: #F57474 !important;
  text-decoration: none !important;
  background-color: transparent !important;
  border-color: #F57474 !important;

}


/*masonry */

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }
