<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Plateroom</title>

        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/agency.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">plateroom</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">paese che vai..</a>
                        </li>
                        <li class="">
                            <a class="page-scroll" href="#portfolio">protagonisti</a>
                        </li>                        
                        <li class="active">
                            <a class="page-scroll" href="#contact">aggiornamenti</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header>
            <div class="container">

                <video autoplay loop controls muted="video/master-plateroom.jpg" id="bgvid">
                    <source src="http://localhost:8000/videos.php?src=./video/master-plateroom.webm" type="video/webm">
                    <source src="http://localhost:8000/videos.php?src=./video/master-plateroom.mp4" type="video/mp4">
                    Il tuo browser non supporta il video</code> element.
                </video>

                <div class="intro-text">
                    <div class="intro-heading">è <font= "amelia"> PRONTO </font> in TAVOLA</div>
                    <div class="intro-lead-in">Cerca e richiedi i tuoi piatti preferiti vicino a te</div>
                    <a href="#services" class="page-scroll btn btn-xl">Come Funziona</a>
                </div>
            </div>
        </header>

        <!-- Services Section -->
        <section id="services" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">

                       <h3 class="section-heading"><span>Paese che vai</span> 
                            <strong id="spinner-show">
                                <em class="current">PIATTO</em>
                            <div class="next">
                                <em></em>
                            </div>
                        </strong>
                            <span>che trovi</span>
                                <ul id="spinner">
                                    <li>tradizione</li>
                                    <li>pizza</li>
                                    <li>biscotti</li>
                                    <li>sughi</li>
                                    <li>torte</li>
                                    <li>curiosità</li>
                                    <li>primi piatti</li>
                                    <li>contorni</li>
                                    <li>verdure</li>
                                    <li>sorrisi</li>
                                    <li>antipasti</li>
                                    <li>allegria</li>
                                    <li>conoscenza</li>
                                    <li>frutta</li>
                                    <li>insaccati</li>
                                    <li>ristoranti</li>
                                    <li>carne</li>
                                    <li>dolce</li>
                                    <li>secondi piatti</li>
                                    <li>creme</li>
                                    <li>brodo</li>
                                    <li>pasta</li>
                                    <li>pesce</li>
                                    <li>cottura</li>

                                  </ul>

                    </h3>










                        <h3 class="section-subheading text-muted"><br>plateroom è un ricettario collaborativo.</br>tutti possono caricare ricette e richiedere piatti personalizzati ai ristoratori, ma non solo, </br>gli ingredienti stessi verranno mappati così da stimolare il ristoratore a creare cose nuove con i prodotti locali.</h3>
                    </div>
                </div>
                <div class="row text-center">

                    <div class="columns"><a class="column" href="#">


                                                               
                           
                        
                        <h2>Ricerca</h2>
                        <p>Puoi trovare i tuoi piatti preferiti nel luogo più VICINO.</p><p>
                        Puoi trovare le specialità del luogo, scelte dalle persone con GUSTI SIMILI ai tuoi.</p>
                    

                    </a><a class="column" href="#">

                    
                      
                          
                        
                        <h2>Richiesta</h2>
                        <p>Puoi suggerire PIATTI NUOVI ai ristoranti della tua zona.</p><p>Puoi sapere nel dettaglio COSA STAI MANGIANDO quando sei al ristorante.</p>

                    

                    </a><a class="column" href="#">

                       
                       
                        <h2>Proposta</h2>
                        <p>Puoi SPERIMENTARE nuovi piatti trovare nuovi clienti.</p><p>Il valore della CUCINA LOCALE aumenta se i fornitori e i ristoratori lavorano tutti insieme e pubblicano la loro produzione.</p>
                    </a><a class="column" href="#">

                        
                     
                        <h2>Sistema</h2>
                        <p>Puoi seguire le CULTURE ALIMENTARI dei luoghi che preferisci e tenerti sempre aggiornato.</p><p>Le tue RICHIESTE arriveranno direttamente ai ristoratori e produttori interessati.</p>
                    

                    </a><a class="column" href="#">
                      


                        <h2>Mappa</h2>
                    
                        <p>Plateroom è una VETRINA per la qualità che ti permette di mostrare ai clienti dove e quando trovare i tuoi prodotti.</p>

                
                </div>
            </div>
        </section>

        <!-- Features Grid Section -->
        <section id="portfolio" class="bg-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">

                        <h3 class="section-heading"><span></span> 
                            <strong id="spinner-show">
                                <em class="current">PROTAGONISTI</h2></em>
                            <div class="next">
                                <em></em>
                            </div>
                        </strong>
                        
 
                     

                        <!--protagonisti -->

                                    
                        <h3 class="section-subheading text-muted">Il servizio è sviluppato per tre personaggi.</br> Quello che noi vogliamo fare è impegnarci per rendere le loro interazioni sempre più creative</h3>
                    </div>
                </div>
                <div class="row">

                    <a class="column" href="#">

                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                     GRATUITO per tutti i nostri golosi buongustai, per sempre.
                                </div>
                            </div>
                            <img src="img/portfolio/buongustaio2.jpg" class= "img-thumbnail" alt="'er buongustaio">
                        </a>
                        <div class="portfolio-caption">
 

                            <!--typeform buongustaio -->
                    <a class="page-scroll btn btn-xl" href="https://stefaniasolari.typeform.com/to/jUMUCD" data-mode="1" target="_blank">buongustaio</a>
                        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>




                            <p class="text-muted">Via libera a tutte le richieste</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    Prova il servizio gratuitamente e trova nuovi clienti appassionati.
                                </div>
                            </div>
                            <img src="img/portfolio/chef.jpg" class="img-thumbnail" alt="">
                        </a>
                        <div class="portfolio-caption">
                        

                         <!--typeform Ristoratore -->
                        <a class="page-scroll btn btn-xl" href="https://stefaniasolari.typeform.com/to/nZSjTT" data-mode="1" target="_blank">Ristoratore</a>
                            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
                            </script>
                            <p class="text-muted">Mettiamo nero su bianco i gusti dei tuoi clienti e proponi nuove soluzioni.</p>
      
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    Prova il servizio gratuitamente e trova nuovi distributori.
                                </div>
                            </div>
                            <img src="img/portfolio/produttore.jpg" class="img-thumbnail" alt="">
                        </a>
                        <div class="portfolio-caption">
                            

                         <!--typeform Produttore -->
                        <a class="page-scroll btn btn-xl" href="https://stefaniasolari.typeform.com/to/hzBint" data-mode="1" target="_blank">produttore</a>
                            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>




                            <p class="text-muted">Fatti conoscere, fatti mangiare.</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
      
         <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">

                        

                        
                        <h2 class="section-heading">SI. MA. QUANDO?</h2>
                        <h3 class="section-subheading color text-muted">Ti avvertiremo appena sarà pronta la versione BETA.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form action="https://zero4startup.us9.list-manage.com/subscribe/post?u=3ab01c04621448c868bd23c40&amp;id=6aad136474" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    
                                    <div class="form-group">
                                        <input type="email" name="EMAIL" class="form-control" placeholder="La tua Email" id="email" required="" data-validation-required-message="Please enter your email address.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    
                                </div>                                
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_3ab01c04621448c868bd23c40_6aad136474" tabindex="-1" value=""></div>
                                    <button type="submit" class="btn btn-xl">aggiornamenti</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright © Plateroom 2015</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>


        <!-- jQuery -->
        <script src="/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="/js/classie.js"></script>
        <script src="/js/cbpAnimatedHeader.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="/js/jqBootstrapValidation.js"></script>
        <script src="/js/contact_me.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/js/agency.js"></script>



        


    </body>
</html>